/* General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #7f00ff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  /* Splash Screen */
  #splash-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #7f00ff;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .splash-icon svg {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }
  
  #splash-screen h1 {
    font-family: 'Barriecito', cursive;
    font-size: 2.5rem;
  }
  
  /* Login Page */
  #login-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('ennio-berti-WErW8WfpPOE-unsplash.jpg') no-repeat center center/cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #login-page h1.login-title {
    font-family: 'Barriecito', cursive;
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  #login-page p.login-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  #login-page button#explore-button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: #7f00ff;
    background-color: #ffffff;
    font-family: 'Barriecito', cursive;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #login-page button#explore-button:hover {
    background-color: #f2f2f2;
  }
  